* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background-color: rgb(29, 27, 27);
  background-image: url(bgImg.jpg);
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  color: rgb(238, 233, 233);
  /* overflow: hidden; */
  font-weight: lighter;
}

.outlined {
  text-shadow: 
  rgba(185, 185, 185, 0.5) 1px 0px 0px, 
  rgba(185, 185, 185, 0.5) 0.540302px 0.841471px 0px, 
  rgba(185, 185, 185, 0.5) -0.416147px 0.909297px 0px, 
  rgba(185, 185, 185, 0.5) -0.989992px 0.14112px 0px, 
  rgba(185, 185, 185, 0.5) -0.653644px -0.756802px 0px, 
  rgba(185, 185, 185, 0.5) 0.283662px -0.958924px 0px, 
  rgba(185, 185, 185, 0.5) 0.96017px -0.279415px 0px;
  color: black;

  padding: 0.25em;
  border-radius: 6px;
  
}

#alert {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  color: black;
  background-color: white;
  padding: 0 1em;
  left: -100%;
  transition: left 1s cubic-bezier(.23, 1, 0.32, 1);
}

button, .btn {
  appearance: none;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1.5px dashed white;
  border-radius: 15px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 1em;
  min-width: 0;
  outline: none;
  padding: 8px 5px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
}

button:disabled, .btn:disabled {
  pointer-events: none;
}

button:hover, .btn:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

button:active, .btn:active {
  box-shadow: none;
  transform: translateY(0);
}

#container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#content {
  width: 78vw;
  min-width: 700px;
  max-width: 875px;
  height: 800px;
  /* Let's try */
  overflow: auto;

  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 1em;
}

#left,
#mid,
#right {
  background: rgba(22, 22, 22, 0.452);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  border: 1.5px solid rgba(216, 216, 216, 0.7);

  padding: 1em;
  height: inherit;
}

#members {
  display: grid;
  grid-template-rows: auto 2em 1fr; /* Adjusted to allocate remaining space */
  height: 100%;
}

#members h1 {
  margin: 0;
  padding: 0.5em;
}

#memberContainer {
  height: 100%;
  overflow-y: auto;
}

#memberSearch, #frontMemberSearch {
  text-align: center;
  height: 1em;
}

.member {
  text-align: center;
  margin: 0.5em;
  padding: 0.5em;
  background-color: rgba(51, 51, 51, 0.5);
  border-radius: 5px;

}

.member img {
  width: 100%;
}

.member h3,
.member h4 {
  margin: 0;
}

.member-color {
  width: 100%;
  height: 1em;
  margin-top: 0.5em;
  border-radius: 5px;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #ffffff7c #cccccc6e;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 9px;
  border-radius: 5px;
}

*::-webkit-scrollbar-track {
  background: #cccccc6e;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #ffffff7c;
  border: 3px none #ffffff;
}


/* 
  ---------------------------------------
*/

#rightPart {
  display: grid;
  grid-template-rows: 1fr 4fr;
  gap: 1em;
}

#mid {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#right {
  display: flex; /* I hate display flex btw like just sayin */
  align-items: center;
  flex-direction: column;
  text-align: center;
}



.txtbox {
  display: grid;
  grid-template-rows: auto 1fr;
}

#rightContainer {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 200px 1fr;
}

.txtboxType {
  height: inherit;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 2px 8px;
  font-weight: bolder;
  border: 1.5px dashed white;
  border-radius: 10px;
}

#persistentTxt,
#dailyTxt {
  overflow-y: auto;
}

#dailyTxt {
  height: 300px;
}



#fronters, #memberTitle {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 0.5em 0.5em 0.5em;
}
#fronters div, .sameLine {
  display: flex;
  align-items: center;
  user-select: none;
}
.sameLine {
  justify-content: space-around;
}
#fronters h3 {
  margin: 0.5em;
}

#important {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 2px 8px;
  font-weight: bolder;
  border: 1.5px dashed white;
  border-radius: 10px;
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide overflow */
  height: 3em;
}

.scrollingText {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0;
}

.importantText {
  margin: 0;
  font-size: 1em; /* Adjust font size as needed */
  color: white;
}

@keyframes scrollText {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-50%, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}


/* ------------------ */

#hamburger {
  margin: 1em;
  position: fixed;
  cursor: pointer;
}

#settingsTitle {
  cursor: pointer;
}

#settingsContainer,
#addToFrontContainer, 
#frontersContainer, 
#createMemberContainer,
#memberInfo {
  position: fixed;
  background: rgba(58, 58, 58, 0.507);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);
  border: 1.5px solid rgba(216, 216, 216, 0.7);

  padding: 1em;
  transition: all .8s cubic-bezier(1, -0.38, .44, 1.25);
}

#settingsContainer {
  z-index: 10;
  right: -200vw;
  /* right: 0; debug */
  height: calc(100% - 2em);
  width: 100%;
  max-width: 800px;
}

#settingsContainer * {
  margin: 0;
  padding: 0;
}

#addToFrontContainer, 
#frontersContainer, 
#createMemberContainer {
  /* z-index: 8; */
  width: 400px;
  height: 500px;
  /* direction: -100vx; */
  /* cirection: calc(50% - (500px / 2)); debug */
  
  display: grid;
}
#addToFrontContainer {
  z-index: 8;
  left: calc(50% - (400px / 2));
  top: -500px;
  /* top: calc(50% - (500px / 2)); debug */
  grid-template-rows: auto 2em 1fr auto;
}
#frontersContainer {
  z-index: 7;
  left: calc(50% - (400px / 2));
  bottom: -500px;
  /* bottom: calc(50% - (500px / 2)); debug */
  grid-template-rows: auto 1fr auto;

}
#createMemberContainer {
  z-index: 9;
  top: calc(50% - (500px / 2));
  left: -400px;
  /* left: calc(50% - (400px / 2)); debug */
  grid-template-rows: auto 1fr auto;
}

#memberInfo {
  width: 550px;
  height: 700px;
  z-index: 6;
  left: calc(50% - (550px / 2));
  /* top: calc(50% - (700px / 2)); */
  top: -700px;
  grid-template-rows: auto 1em 200px 1fr auto;
}
#memberInfoDN {
  font-style: italic;
}
#memberInfoContent {
  display: grid;
  grid-template-columns: 200px auto;
  grid-template-rows: 200px;
  gap: 1em;
}
#memberInfoImg {
  height: 100%;
}
#memberInfoDesc {
  height: inherit;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 2px 8px;
  border: 1.5px dashed white;
  border-radius: 10px;
  overflow: auto;
}
.noMrgn {
  margin: 0.25em;
}
#memberInfoAttributes {
  height: 6em;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 2px 8px;
  margin: 0.75em;
  font-weight: bolder;
  border: 1.5px dashed white;
  border-radius: 10px;
  overflow: auto;
  display: grid;
  grid-template-columns: 50% 50%;
}
#memberInfoRight {
  overflow: auto;
}
#memberInfoGroups {
  margin: 0.5em;
}
#memberInfoBanner {
  height: 275px;
  background-repeat: no-repeat;
  background-size: cover ;
}

#cancelAddToFront, #returnFronters, #cancelCreateMember {
  cursor: pointer;
}

#frontMemberList {
  overflow-y: auto;
}

/* Do it with javascript */
#memberInfoName {
  max-width: 350px;
  word-wrap: break-word;
}
#memberInfoColor {
  width: 1em;
  height: 1em;
  padding: 0.5em;
  background-color: rgba(58, 58, 58, 0.267);
  border-radius: 1em;
}